@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap");

body {
  background: rgb(19, 134, 152);
  background: linear-gradient(
    90deg,
    rgba(19, 134, 152, 1) 0%,
    rgba(21, 145, 165, 1) 77%,
    rgba(54, 184, 201, 1) 100%
  );
}

.App {
  text-align: center;
  font-family: "Exo", sans-serif;
  padding: 20px 60px;
  color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 5000ms ease-in;
}

@media (max-width: 768px) {
  .App,
  .accordion__panel {
    padding: 0 !important;
  }

  #image-receiver img {
    max-width: 100%;
  }
}

#image-receiver img {
  max-width: 400px;
}

.accordion__item {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.accordion__button {
  width: auto !important;
}
